# EXPERIMENT 3: PHYTON DATA ANALYSIS

Orzal, Harvey Aaron E. 

2ECE - B

## PROBLEM 1
Using the dataframe cars in problem 1, extract the following information using subsetting, slicing and
indexing operations.  

- Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7...) of cars.
- Display the row that contains the ‘Model’ of ‘Mazda RX4’.
- How many cylinders (‘cyl’) does the car model ‘Camaro Z28’ have?
- Determine how many cylinders (‘cyl’) and what gear type (‘gear’) do the car models ‘Mazda RX4
Wag’, ‘Ford Pantera L’ and ‘Honda Civic’ have.

In [5]:
import pandas as pd

In [6]:
cars = pd.read_csv("cars.csv")

print("a. First five rows with odd-numbered columns:")
display(cars.iloc[:5, ::2])  

print("b. Row with Model = Mazda RX4:")
display(cars[cars['Model'] == 'Mazda RX4'])

print("c. Cylinders of Camaro Z28:")
print(cars.loc[cars['Model'] == 'Camaro Z28', 'cyl'].values[0])

print("d. Cylinders and gear type for specific car models:")
models = ['Mazda RX4 Wag', 'Ford Pantera L', 'Honda Civic']
display(cars.loc[cars['Model'].isin(models), ['Model', 'cyl', 'gear']])

a. First five rows with odd-numbered columns:

               Model  cyl   hp     wt  vs  gear
0          Mazda RX4    6  110  2.620   0     4
1      Mazda RX4 Wag    6  110  2.875   0     4
2         Datsun 710    4   93  2.320   1     4
3     Hornet 4 Drive    6  110  3.215   1     3
4  Hornet Sportabout    8  175  3.440   0     3

b. Row with Model = Mazda RX4:

       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

c. Cylinders of Camaro Z28:
8
d. Cylinders and gear type for specific car models:

             Model  cyl  gear
1    Mazda RX4 Wag    6     4
18     Honda Civic    4     4
28  Ford Pantera L    8     5